<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Side Bar -->
    <%- include("./../components/sidebar") %>

        <!-- Body -->
        <div class="bodyContainer">

            <!-- Navbar -->
            <%- include("./../components/header") %>

                <div class="Dashboard">
                    <nav class="navbar navbar-light bg-white">
                        <div class="container-fluid">
                            <h1 class="navbar-brand ms-auto me-auto mb-0 h1" style="text-align: center;">
                                Class: <%= user.profile.class.toUpperCase() %>
                            </h1>
                        </div>
                    </nav>

                    <center>
                        <div class="col-md-8 mt-3 mr-10 ml-10" style="border-radius: 30px;">
                            <a href="/mentor-dashboard/view-students" class="cardLink col-sm-4">
                                <div class="card topCards">
                                    <div class="card-body">
                                        <h3 class="card-title">View Students</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </center>


                    <!-- <a href="#" class="cardLink col-sm-4">
                            <div class="card topCards">
                                <div class="card-body">
                                    <h3 class="card-title">Certifications Registered</h3>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="cardLink col-sm-4">
                            <div class="card topCards">
                                <div class="card-body">
                                    <h3 class="card-title">Achievements Registered</h3>
                                </div>
                            </div>
                        </a> -->

                    <!-- <div class="container-fluid mt-5 col-md-6">
                        <h5 style="text-align: center;" class="mb-2">Student Search</h5>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search UID" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div> -->
                </div>

        </div>

        <script src="/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>
</body>

</html>