<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Side Bar -->
    <%- include("./components/sidebar") %> 


    <!-- Body -->
    <div class="bodyContainer">


        <!-- Navbar -->
        <%- include("./components/header") %> 



        <div class="container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nulla quidem voluptatibus quae unde qui tempora numquam similique. Architecto, commodi aperiam. Amet id corporis dolor earum eaque recusandae quas aut ab placeat, dignissimos ipsum enim minima impedit! Aliquid molestiae iure libero illo obcaecati repudiandae voluptate, sint eius, nihil quis quod?
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>

</html>