<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>

    <form action="/sign-up" method="post">
        <label for="username">Username</label>
        <input type="text" name="username"></input>
        <label for="username">Email</label>
        <input type="email" name="email"></input>
        <label for="password">Password</label>
        <input type="password" name="password"></input>
        <button type="submit">Submit</button>
    </form>

    <a href="/login">Log In</a>
</body>
</html>