@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Linear gradient colors used */
:root {
  --color1: #2f25eb;
  --color2: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  /* background-color: var(--color1); */
  /* background: linear-gradient(135deg, var(--color1), var(--color2)); */
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.optional {
  color: rgb(184, 184, 184);
}

.container {
  margin: 50px auto;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.4);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 10px;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(135deg, var(--color1), var(--color2));
}

.content form .certification-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .certification-details .input-box {
  margin-bottom: 15px;
  width: 100%;
  /* width: calc(100% / 2 - 20px); */
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.certification-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.5s ease;
}

.certification-details .input-box input:focus {
  border-color: var(--color2);
}

@media(max-width: 584px) {
  body {
    height: auto;
  }

  .container {
    margin: 10px auto;
    max-width: 100%;
    box-shadow: white;
  }

  form {
    height: 100%;
    overflow-y: scroll;
  }

  form .certification-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  .content form .certification-details {
    overflow-y: scroll;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

button {
  color: black;
}



.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}