<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/certificate_styles.css">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/drag.css">
</head>

<body>
    <!-- Side Bar -->
    <%- include("./../components/sidebar") %>

        <!-- Body -->
        <div class="bodyContainer">

            <!-- Navbar -->
            <%- include("./../components/header") %>

                <div class="container col-lg-12" style="max-width: 730px;">

                    <div class="pageHeading">
                        <h1>Certificate Registration</h1>
                    </div>

                    <form action="/certificate-registration" method="POST">
                        <!-- <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Course name</label>
                            <input type="text" class="form-control" name="credentialName" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Course provider</label>
                            <input type="text" class="form-control" name="credentialSource" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div> -->

                        <!-- Course name -->
                        <div class="input-box mb-3">
                            <span class="details">Course/Program: <span style="color:red">*</span> </span>
                            <input type="text" class="form-control" name="courseName"
                                placeholder="Enter course/program name" required>
                        </div>

                        <!-- Platform name -->
                        <div class="input-box mb-3">
                            <span class="details">Platfrom: <span style="color:red">*</span> </span>
                            <input type="text" class="form-control" name="platformName"
                                placeholder="Enter platform name" required>
                        </div>

                        <!-- Sponsoring university name -->
                        <div class="input-box mb-3">
                            <!-- <span class="optional">(optional)</span> -->
                            <span class="details">Sponsoring university/organization: </span>
                            <input type="text" class="form-control" name="organizationName"
                                placeholder="Enter sponsoring organization name (optional)">
                        </div>

                        <!-- Date of completion  -->
                        <div class="input-box mb-3">
                            <span class="details">Date of completion: <span style="color:red">*</span> </span>
                            <input type="date" class="form-control" name="completionDate" required>
                        </div>

                        <!-- Completion date  -->
                        <div class="input-box mb-3">
                            <span class="details">Grade Achieved:</span>
                            <input type="text" class="form-control" name="grade"
                                placeholder="Enter your grade achieved (optional)">
                        </div>

                        <!-- Cerdential ID -->
                        <div class="input-box mb-3">
                            <span class="details">Cerdential ID: <span style="color:red">*</span> </span>
                            <input type="text" class="form-control" name="id" placeholder="Enter the credential ID"
                                required>
                        </div>

                        <!-- Credential Link -->
                        <div class="input-box mb-3">
                            <span class="details">Cerdential Link: <span style="color:red">*</span> </span>
                            <input type="text" class="form-control" name="link" placeholder="Enter the credential link"
                                required>
                        </div>
                        <!-- </div> -->



                        <!-- upload certificate -->
                        <div class="input-box">
                            <span class="details">Cerdential Link: <span class="req">*</span></span>
                            <div class="drop-zone">
                                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                <input type="file" id="cerificate" name="cerificateFile" class="drop-zone__input"
                                    accept=".pdf,.jpg,.png" required>
                            </div>
                        </div>

                        <br>

                        <div class="ms-auto me-auto" style="width: fit-content;">
                            <button class="btn btn-danger" type="submit">Submit</button>
                        </div>
                        <br><br>
                    </form>
                </div>


        </div>

        <script src="/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>


        <!-- Drag and drop -->
        <script src="/js/dragscript.js"></script>

</body>

</html>