<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/certificate_styles.css">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/drag.css">
</head>

<body>
    <!-- Side Bar -->
    <%- include("./../components/sidebar") %>

        <!-- Body -->
        <div class="bodyContainer">

            <!-- Navbar -->
            <%- include("./../components/header") %>

                <div class="container col-lg-12" style="max-width: 730px;">

                    <div class="pageHeading">
                        <h1>Add Your Skills</h1>
                    </div>

                    <form action="/skills-registration" method="POST">
                        <!-- skill name -->
                        <div class="input-box mb-3">
                            <span class="details">Language You know: <span style="color:red">*</span> </span>
                            <input type="text" class="form-control" name="language" placeholder="Enter Language"
                                required>
                        </div>

                        <div class="input-box mb-3">
                            <span class="details">Rate your efficiency (From scale of 1 to 5): <span
                                    style="color:red">*</span> </span>
                            <input type="number" class="form-control" name="rate" min="1" max="5"
                                placeholder="Rate your efficiency (From scale of 1 to 5)" required>
                        </div>

                        <br>

                        <div class="ms-auto me-auto" style="width: fit-content;">
                            <button class="btn btn-danger" type="submit">Submit</button>
                        </div>
                        <br><br>
                    </form>
                </div>


        </div>

        <script src="/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>


        <!-- Drag and drop -->
        <script src="/js/dragscript.js"></script>

</body>

</html>